# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=my_admin
DB_PASSWORD=my_admin
DB_DATABASE=lms

# JWT
JWT_ACCESS_SECRET=some_secret
JWT_REFRESH_SECRET=another_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# URL
APP_URL=http://localhost:3000
PORT=3000

# Nodemailer
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=mail_user
MAIL_PASSWORD=mail_password
MAIL_FROM=mail_form
